[user]
    name = Jorge Fernando Álava
    email = git@jfa.dev
    signingkey = "C:\\Users\\jfalava\\.ssh\\id-ed25519"
[color]
    ui = auto
[alias]
    undo = reset --soft HEAD^
[gpg]
    format = ssh
[commit]
    gpgsign = true
[tag]
    gpgsign = true
